<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta charset="UTF-8" />
<meta name="imagetoolbar" content="no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="MobileOptimized" content="320"/>
<meta name="HandheldFriendly" content="true"/>
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
<meta name="format-detection" content="telephone=no"/>
<meta property="og:image" content="FBSHREURL"/>
<meta name="dc.title" lang="en" content="" />
<meta name="dc.description" lang="hu" content="" />
<meta name="dclanguage" content="en" />
<meta name="dc.publisher" content="" />
<meta name="dc.coverage" content="World" />
<meta name="dc.type" content="Text" />
<meta name="dc.format" content="text/html" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
<meta name="language" content="English">
<title>PhoDo | Registration</title>
<link rel="stylesheet" type="text/css" media="screen" href="/fonts/fonts.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
<body id="register">
<%- include _headNav.html %>
<div id="subhead">
	<div class="topic tocenter">
		<img src="/img/tick.png" alt="" width="280" height="280" style="border-style: none"/>
		<h1>Done! Thanks for registering!</h1>
	</div>
</div>

<div id="hull">
	<div class="site">
		<br>
		<a href="/login" class="button_big">Login</a>

	</div>
</div>

</body>
</html>