<div>
	<%= data.link %>
</div>
<div id="fb-share">
	<a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=<%= data.link %>&amp;p[images][0]=http://phodo.co/logo.png&amp;p[title]=Phodo, the visual to-do list&amp;p[summary]=Phodo allows you to create visual to-do lists, using photos you take, or photos sourced from the cloud."><img src="http://mindofatul.files.wordpress.com/2013/02/995501-facebook-share.gif"></a>
</div>
<div id="tweet">
</div>
<div>
	<%- include paypalButton.html %>
</div>
